<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeapoo.statistics.mapper.UserEntityMapper" >
  <resultMap id="BaseResultMap" type="com.yeapoo.statistics.entity.UserEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="user_role" property="userRole" jdbcType="VARCHAR" />
    <result column="recommend_first_id" property="recommendFirstId" jdbcType="INTEGER" />
    <result column="recommend_first_name" property="recommendFirstName" jdbcType="VARCHAR" />
    <result column="recommend_second_id" property="recommendSecondId" jdbcType="INTEGER" />
    <result column="recommend_second_name" property="recommendSecondName" jdbcType="VARCHAR" />
    <result column="belong_salesman_id" property="belongSalesmanId" jdbcType="INTEGER" />
    <result column="belong_first_distribution_id" property="belongFirstDistributionId" jdbcType="INTEGER" />
    <result column="belong_second_distribution" property="belongSecondDistribution" jdbcType="INTEGER" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="TINYINT" />
    <result column="update_user" property="updateUser" jdbcType="TINYINT" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, realname, password, phone, email, user_role, recommend_first_id, recommend_first_name, 
    recommend_second_id, recommend_second_name, belong_salesman_id, belong_first_distribution_id, 
    belong_second_distribution, job, status, create_time, update_time, create_user, update_user, 
    enabled
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hlh_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hlh_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.yeapoo.statistics.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
    insert into hlh_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="userRole != null" >
        user_role,
      </if>
      <if test="recommendFirstId != null" >
        recommend_first_id,
      </if>
      <if test="recommendFirstName != null" >
        recommend_first_name,
      </if>
      <if test="recommendSecondId != null" >
        recommend_second_id,
      </if>
      <if test="recommendSecondName != null" >
        recommend_second_name,
      </if>
      <if test="belongSalesmanId != null" >
        belong_salesman_id,
      </if>
      <if test="belongFirstDistributionId != null" >
        belong_first_distribution_id,
      </if>
      <if test="belongSecondDistribution != null" >
        belong_second_distribution,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="recommendFirstId != null" >
        #{recommendFirstId,jdbcType=INTEGER},
      </if>
      <if test="recommendFirstName != null" >
        #{recommendFirstName,jdbcType=VARCHAR},
      </if>
      <if test="recommendSecondId != null" >
        #{recommendSecondId,jdbcType=INTEGER},
      </if>
      <if test="recommendSecondName != null" >
        #{recommendSecondName,jdbcType=VARCHAR},
      </if>
      <if test="belongSalesmanId != null" >
        #{belongSalesmanId,jdbcType=INTEGER},
      </if>
      <if test="belongFirstDistributionId != null" >
        #{belongFirstDistributionId,jdbcType=INTEGER},
      </if>
      <if test="belongSecondDistribution != null" >
        #{belongSecondDistribution,jdbcType=INTEGER},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=TINYINT},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=TINYINT},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yeapoo.statistics.entity.UserEntity" >
    update hlh_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null" >
        user_role = #{userRole,jdbcType=VARCHAR},
      </if>
      <if test="recommendFirstId != null" >
        recommend_first_id = #{recommendFirstId,jdbcType=INTEGER},
      </if>
      <if test="recommendFirstName != null" >
        recommend_first_name = #{recommendFirstName,jdbcType=VARCHAR},
      </if>
      <if test="recommendSecondId != null" >
        recommend_second_id = #{recommendSecondId,jdbcType=INTEGER},
      </if>
      <if test="recommendSecondName != null" >
        recommend_second_name = #{recommendSecondName,jdbcType=VARCHAR},
      </if>
      <if test="belongSalesmanId != null" >
        belong_salesman_id = #{belongSalesmanId,jdbcType=INTEGER},
      </if>
      <if test="belongFirstDistributionId != null" >
        belong_first_distribution_id = #{belongFirstDistributionId,jdbcType=INTEGER},
      </if>
      <if test="belongSecondDistribution != null" >
        belong_second_distribution = #{belongSecondDistribution,jdbcType=INTEGER},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=TINYINT},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=TINYINT},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getUserEntityByUserName" parameterType="string" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM hlh_user
    WHERE username=#{username} AND status='VALID';
  </select>

  <!-- 分页查询 消费记录 -->
  <select id="queryUserList" parameterType="com.yeapoo.statistics.controller.base.BaseQueryRequest" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM hlh_user
    <where>
      <include refid="Base_Where_Condition"/>
    </where>
    ORDER BY create_time DESC
    <if test="pagination!=null">
      limit #{pagination.stratRecodes}, #{pagination.rows}
    </if>
  </select>
  <select id="countUser" parameterType="com.yeapoo.statistics.controller.base.BaseQueryRequest" resultType="int">
    SELECT COUNT(1)
    FROM hlh_user
    <where>
      <include refid="Base_Where_Condition"/>
    </where>
  </select>

    <sql id="Base_Where_Condition">
        <if test="condition != null">
            <if test="condition.id!=null and condition.id!=''">
                AND id = #{condition.id}
            </if>
            <if test="condition.status!=null and condition.status!=''">
                AND status = #{condition.status}
            </if>
            <if test="condition.createUser!=null and condition.createUser!=''">
                AND create_user = #{condition.createUser}
            </if>
          <if test="condition.userRole != null and condition.userRole!=''" >
            AND user_role = #{condition.userRole,jdbcType=VARCHAR}
          </if>
          <if test="condition.recommendFirstId != null" >
            AND  (recommend_first_id = #{condition.recommendFirstId,jdbcType=INTEGER} OR recommend_second_id = #{condition.recommendFirstId,jdbcType=INTEGER})
          </if>
          <if test="condition.recommendFirstName !=null  and condition.recommendFirstName!=''" >
            AND  recommend_first_name = #{condition.recommendFirstName,jdbcType=VARCHAR},
          </if>
          <if test="condition.recommendSecondId != null" >
            AND (recommend_second_id = #{condition.recommendSecondId,jdbcType=INTEGER} OR recommend_first_id = #{condition.recommendSecondId,jdbcType=INTEGER})
          </if>
          <if test="condition.recommendSecondName != null and condition.recommendSecondName!=''" >
            AND recommend_second_name = #{condition.recommendSecondName,jdbcType=VARCHAR}
          </if>
            <!--<if test="condition.costTimeStart!=null and condition.costTimeStart!=''">
                AND cost_time &gt;= #{condition.costTimeStart}
            </if>
            <if test="condition.costTimeEnd!=null and condition.costTimeEnd!=''">
                AND cost_time &lt;= #{condition.costTimeEnd}
            </if>-->
        </if>
    </sql>

    <!-- 会员审核状态变更 -->
  <update id="updateCheckUserByStatus" parameterType="com.yeapoo.statistics.entity.UserEntity" >
    update hlh_user
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>